
@{
    ViewBag.Title = "Главная";
}
<body>
        <div>
            <h2>Auto City Skoda </h2>
            <h3>Москва</h3>
            <p>
                г. Москва, Новорижское шоссе, 9 км от МКАД
            </p>
            <h5>+7(495)737-77-78</h5>
            
            <a href="@Url.Action("Skoda","Skodas")"><h4>www.autocity-sk.ru</h4></a>
        </div>
    <div>
        <h2>Изар-Авто</h2>
        <h3>Пенза</h3>
        <p>
            г. Пенза, пр-т Победы, д. 121 (въезд с трассы М5)
        </p>
        <h5>8(8412)20-00-20</h5>

        <a href="@Url.Action("List","BMWs")"><h4>bmw-izar-avto.ru</h4></a>
    </div>
    <div>
        <h2>PORSHE</h2>
        <h3>Казань</h3>
        <p>
            г. Казань, ул. Декабристов, 81В.
        </p>
        <h5>+7(843)52-62-911</h5>

        <a href="@Url.Action("List","Porshe")"><h4>www.porsche-kazan.ru</h4></a>
    </div>
    <div>
        <h2>Envy Motors</h2>
        <h3>Москва</h3>
        <p>
            г. Москва, ул. Привольная, 70, корп.1
        </p>
        <h5>+7(495)645-84-70</h5>

        <a href="@Url.Action("List","Peugeot")"><h4>www.envy-peugeot.ru</h4></a>
    </div>
    <div>
        <h2>ВИКИНГИ</h2>
        <h3>Тольятти</h3>
        <p>
            г. Тольятти, ул. Громовой, д.51А
        </p>
        <h5>+7(8482)63-00-77</h5>

        <a href="@Url.Action("List","Lada")"><h4>vikingi.lada.ru</h4></a>
    </div>
</body>
